<div class="quickPanel-container">
    <div class="quickPanel">
        <a ui-sref="dashboard" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Dashboard"><i class="fa fa-th" aria-hidden="true"></i></a>
        <a ui-sref="templates" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="App&nbsp;Templates"><i class="fa fa-space-shuttle" aria-hidden="true"></i></a>
        <a ui-sref="stacks" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Stack"><i class="fa fa-th-list" aria-hidden="true"></i></a>
        <a ui-sref="services" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Services"><i class="fa fa-life-ring" aria-hidden="true"></i></a>
        <a ui-sref="containers" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Containers"><i class="fa fa-server" aria-hidden="true"></i></a>
        <a ui-sref="apptocontainer" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="App to Container"><i class="fa fa-server" aria-hidden="true"></i></a>
        <a ui-sref="images" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Images"><i class="fa fa-clone" aria-hidden="true"></i></a>
        <a ui-sref="networks" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Networks"><i class="fa fa-snowflake-o" aria-hidden="true"></i></a>
        <a ui-sref="volumes" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Volumes"><i class="fa fa-cubes" aria-hidden="true"></i></a>
        <a ui-sref="secrets" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Secrets"><i class="fa fa-user-secret" aria-hidden="true"></i></a>
        <a ui-sref="swarm" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Swarm"><i class="fa fa-object-group" aria-hidden="true"></i></a>
        <hr>
        <a ui-sref="users" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="User management"><i class="fa fa-users" aria-hidden="true"></i></a>
        <a ui-sref="endpoints" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Endpoints"><i class="fa fa-plug" aria-hidden="true"></i></a>
        <a ui-sref="registries" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Registries"><i class="fa fa-database" aria-hidden="true"></i></a>
        <a ui-sref="settings" ui-sref-active="active" class="animated flipInY delay quickLink" data-toggle="tooltip" data-placement="left" title="Settings"><i class="fa fa-cogs" aria-hidden="true"></i></a>
    </div>
</div>

<div class="cd-panel from-right">
    <header class="cd-panel-header">
        <a href="" class="cd-panel-close">Close</a>
    </header>
    <div class="cd-panel-container">
        <div class="cd-panel-content">
            <div class="innerBox">
                <div class="breadcrumb-links"><div class="pull-left" ng-transclude></div><div class="pull-right" ng-if="username"><a ui-sref="userSettings" class="text-my-account" style="margin-right: 5px;"><u><i class="fa fa-wrench" aria-hidden="true"></i> my account </u></a><a ui-sref="auth({logout: true})" class="text-logout" style="margin-right: 25px;"><u><i class="fa fa-sign-out" aria-hidden="true"></i> log out</u></a></div></div>
                <p class="cPanelTabs"><a ui-sref="userSettings" class="animated fadeInUp delay current"><i class="fa fa-bars" aria-hidden="true"></i></a><a ui-sref="userSettings" class="animated fadeInUp delay"><i class="fa fa-cog" aria-hidden="true"></i></a><a ui-sref="auth({logout: true})" ui-sref-active="active" class="animated fadeInUp delay"><i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
                <h1>DockM</h1>
                <select class="inputCtl select-endpoint form-control" ng-options="endpoint.Name for endpoint in endpoints" ng-model="activeEndpoint" ng-change="switchEndpoint(activeEndpoint)">
                </select>
            </div>

            <h1 class="innerBox">Endpoint Actions</h1>
            <ul class="sideLink">
                <li class="sidebar-list"><a ui-sref="dashboard" ui-sref-active="active"><i class="fa fa-th" aria-hidden="true"></i>Dashboard</a></li>
                <li class="sidebar-list"><a ui-sref="templates" ui-sref-active="active"><i class="fa fa-space-shuttle" aria-hidden="true"></i>App Templates</a></li>
                <!--<li class="sidebar-sublist"><a ui-sref="templates_linuxserver" ui-sref-active="active" ng-if="toggle && displayExternalContributors && ($state.current.name === 'templates' || $state.current.name === 'templates_linuxserver')"><i aria-hidden="true"></i>   LinuxServer.io</a></li>-->
                <li class="sidebar-sublist"><a ui-sref="templates_linuxserver" ui-sref-active="active"><i aria-hidden="true"></i>LinuxServer.io</a></li>
                <li class="sidebar-list"><a ui-sref="stacks" ui-sref-active="active"><i class="fa fa-th-list" aria-hidden="true"></i>Stack</a></li>
                <li class="sidebar-list"><a ui-sref="services" ui-sref-active="active"><i class="fa fa-life-ring" aria-hidden="true"></i>Services</a></li>
                <li class="sidebar-list"><a ui-sref="containers" ui-sref-active="active"><i class="fa fa-server" aria-hidden="true"></i>Containers</a></li>
                <li class="sidebar-list"><a ui-sref="apptocontainer" ui-sref-active="active"><i class="fa fa-server"></i>App to Container</a></li>
                <li class="sidebar-list"><a ui-sref="images" ui-sref-active="active"><i class="fa fa-clone" aria-hidden="true"></i>Images</a></li>
                <li class="sidebar-list"><a ui-sref="networks" ui-sref-active="active"><i class="fa fa-snowflake-o" aria-hidden="true"></i>Networks</a></li>
                <li class="sidebar-list"><a ui-sref="volumes" ui-sref-active="active"><i class="fa fa-cubes" aria-hidden="true"></i>Volumes</a></li>
                <li class="sidebar-list"><a ui-sref="secrets" ui-sref-active="active"><i class="fa fa-user-secret" aria-hidden="true"></i>Secrets</a></li>
                <li class="sidebar-list"><a ui-sref="events" ui-sref-active="active"><i class="fa fa-object-group" aria-hidden="true"></i>Swarm</a></li>
            </ul>
            <h1 class="innerBox">DockM Settings</h1>
            <ul class="sideLink">
                <li class="sidebar-list"><a ui-sref="users" ui-sref-active="active"><i class="fa fa-users" aria-hidden="true"></i>User management</a></li>
                <li class="sidebar-sublist"><a ui-sref="teams" ui-sref-active="active"><i aria-hidden="true"></i>Teams</a></li>
                <li class="sidebar-list"><a ui-sref="endpoints" ui-sref-active="active"><i class="fa fa-plug" aria-hidden="true"></i>Endpoints</a></li>
                <li class="sidebar-list"><a ui-sref="registries" ui-sref-active="active"><i class="fa fa-database" aria-hidden="true"></i>Registries</a></li>
                <li class="sidebar-list"><a ui-sref="settings" ui-sref-active="active"><i class="fa fa-cogs" aria-hidden="true"></i>Settings</a></li>
                <li class="sidebar-sublist"><a ui-sref="settings_authentication" ui-sref-active="active"><i aria-hidden="true"></i>Authentication</a></li>
            </ul>

        </div> <!-- cd-panel-content -->
    </div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->